<main class="-mt-32">
    <div class="max-w-7xl mx-auto pb-12 px-4 sm:px-6 lg:px-8">
        <div class="grid md:grid-cols-3 lg:grid-cols-4 gap-4">
            <div>
                <div class="bg-gray-700 rounded-md shadow" x-data="{ option: 'alphabetical'}">
                    <div class="rounded-t-md flex">
                        <button type="button" x-on:click="option = 'alphabetical'"
                            :class="{ 'bg-gray-600': option === 'alphabetical' }"
                            class="p-4 flex-1 text-gray-200 text-center rounded-tl-md border-r border-b border-gray-850 hover:bg-gray-850 focus:outline-none focus:shadow-outline-yellow">
                            Alphabetical</button>
                        <button type="button" x-on:click="option = 'categories'"
                            :class="{ 'bg-gray-600': option === 'categories' }"
                            class="p-4 flex-1 text-gray-200 text-center rounded-tr-md border-b border-gray-850 hover:bg-gray-850 focus:outline-none focus:shadow-outline-yellow">Categories</button>
                    </div>
                    <div x-show="option === 'alphabetical'">
                        {{ nav-alphabetical :from="collection" }}
                        <div {{ if group_active }}x-data="{ open: true }" {{ else }}x-data="{ open: false }" {{ /if }}>
                            <button x-on:click="open = !open" type="button"
                                class="p-4 w-full flex items-center justify-between hover:bg-gray-850 transition ease-in-out duration-150 focus:outline-none focus:shadow-outline-yellow text-gray-200 {{ if !last }} border-b border-gray-850 {{ /if }}">
                                {{ group }}
                                <span x-show="!open">
                                    <svg viewBox="0 0 20 20" fill="currentColor" class="mr-1 ml-2 h-5 w-5">
                                        <path fill-rule="evenodd"
                                            d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                                            clip-rule="evenodd"></path>
                                    </svg>
                                </span>
                                <span x-show="open">
                                    <svg viewBox="0 0 20 20" fill="currentColor" class="mr-1 ml-2 h-5 w-5">
                                        <path fill-rule="evenodd"
                                            d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                                            clip-rule="evenodd"></path>
                                    </svg>
                                </span>
                            </button>
                            <div x-show="open" class="border-b border-gray-850">
                                {{ children }}
                                {{ if url === current_uri }}
                                <a href="{{ url }}"
                                    class="px-4 py-2 text-gray-200 block bg-gray-600 hover:bg-gray-850">{{ title }}</a>
                                {{ else }}
                                <a href="{{ url }}"
                                    class="px-4 py-2 text-gray-200 block hover:bg-gray-850">{{ title }}</a>
                                {{ /if}}
                                {{ /children }}
                            </div>
                        </div>
                        {{ /nav-alphabetical }}
                    </div>
                    <div x-show="option === 'categories'">
                        {{ nav-categories :from="collection" }}
                        <div {{ if group_active }}x-data="{ open: true }" {{ else }}x-data="{ open: false }" {{ /if }}>
                            <button x-on:click="open = !open" type="button"
                                class="p-4 w-full flex items-center justify-between hover:bg-gray-850 transition ease-in-out duration-150 focus:outline-none focus:shadow-outline-yellow text-gray-200 {{ if !last }} border-b border-gray-850 {{ /if }}">
                                {{ group }}
                                <span x-show="!open">
                                    <svg viewBox="0 0 20 20" fill="currentColor" class="mr-1 ml-2 h-5 w-5">
                                        <path fill-rule="evenodd"
                                            d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                                            clip-rule="evenodd"></path>
                                    </svg>
                                </span>
                                <span x-show="open">
                                    <svg viewBox="0 0 20 20" fill="currentColor" class="mr-1 ml-2 h-5 w-5">
                                        <path fill-rule="evenodd"
                                            d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                                            clip-rule="evenodd"></path>
                                    </svg>
                                </span>
                            </button>
                            <div x-show="open" class="border-b border-gray-850">
                                {{ children }}
                                {{ if url === current_uri }}
                                <a href="{{ url }}"
                                    class="px-4 py-2 text-gray-200 block bg-gray-600 hover:bg-gray-850">{{ title }}</a>
                                {{ else }}
                                <a href="{{ url }}"
                                    class="px-4 py-2 text-gray-200 block hover:bg-gray-850">{{ title }}</a>
                                {{ /if}}
                                {{ /children }}
                            </div>
                        </div>
                        {{ /nav-categories }}
                    </div>
                </div>
            </div>
            <div class="md:col-span-2 lg:col-span-3">
                <div class="background bg-gray-100 rounded-lg shadow px-5 py-6 sm:px-6">
                    {{ partial:article }}
                </div>
            </div>
        </div>
    </div>
</main>