<div id="navbar" class="fixed top-0 w-full z-100">
    <div class="py-2 bg-gray-850" x-data="{ isOpen: false, productsMenuOpen: false, collapsed: true }" @keydown.window.escape="productsMenuOpen = false" x-on:click.away="productsMenuOpen = false">
        <nav class="py-2 bg-gray-850">
            <div class="px-4 mx-auto max-w-7xl sm:px-6 lg:px-8">
                <div class="flex items-center justify-between h-12">
                    <div class="flex-shrink-0">
                        <a href="https://cherryaudio.com/">
                            {{ partial:icons/cherry }}
                        </a>
                    </div>
                    <div class="hidden md:ml-6 md:block">
                        <div class="relative inline-block text-left">
                            <button type="button" @click="productsMenuOpen = !productsMenuOpen" x-state:on="Item active" x-state:off="Item inactive"
                                class="inline-flex justify-center w-full px-4 py-2 font-medium leading-5 text-gray-200 transition duration-150 ease-in-out bg-transparent rounded-md hover:bg-gray-800 focus:outline-none focus:shadow-outline-blue focus:bg-gray-700 active:bg-gray-700">
                                Products
                                <svg viewBox="0 0 20 20" fill="currentColor" class="w-5 h-5 ml-2 mr-1">
                                    <path fill-rule="evenodd"
                                        d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                                        clip-rule="evenodd"></path>
                                </svg>
                            </button>
                        </div>

                        <div x-data="{ open: false }" @keydown.window.escape="open = false" x-on:click.away="open = false"
                            class="relative inline-block ml-2 text-left">
                            <button x-on:click="open = !open" type="button"
                                class="inline-flex justify-center w-full px-4 py-2 font-medium leading-5 text-gray-200 transition duration-150 ease-in-out bg-transparent rounded-md hover:bg-gray-800 focus:outline-none focus:shadow-outline-blue focus:bg-gray-700 active:bg-gray-700">
                                Store

                                <svg viewBox="0 0 20 20" fill="currentColor" class="w-5 h-5 ml-2 mr-1">
                                    <path fill-rule="evenodd"
                                        d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                                        clip-rule="evenodd"></path>
                                </svg>

                            </button>
                            <div x-cloak x-show="open" x-transition:enter="transition ease-out duration-100"
                                x-transition:enter-start="transform opacity-0 scale-95"
                                x-transition:enter-end="transform opacity-100 scale-100"
                                x-transition:leave="transition ease-in duration-75"
                                x-transition:leave-start="transform opacity-100 scale-100"
                                x-transition:leave-end="transform opacity-0 scale-95"
                                class="absolute z-50 w-56 mt-2 origin-center rounded-md shadow-lg dropdown md:w-96">
                                <div class="p-4 bg-gray-800 rounded-md shadow-xs sm:flex">
                                    <div class="w-1/2 px-4 mb-4 sm:mb-0 md:px-2">
                                        <a class="block text-gray-200 hover:text-gray-100 hover:underline"
                                            href="https://store.cherryaudio.com/login">Login</a>

                                        <a class="block text-gray-200 hover:text-gray-100 hover:underline"
                                            href="https://store.cherryaudio.com/register">Register</a>

                                        <a class="block text-gray-200 hover:text-gray-100 hover:underline"
                                            href="https://store.cherryaudio.com/redeem">Redeem Code</a>

                                        <a class="block text-gray-200 hover:text-gray-100 hover:underline" target="_blank"
                                            href="https://cottonbureau.com/people/cherry-audio-1">Merch</a>
                                    </div>
                                    <div class="w-1/2 px-4 mb-4 sm:mb-0 md:px-2">
                                        <a class="block text-gray-200 hover:text-gray-100 hover:underline"
                                            href="https://store.cherryaudio.com">Discover</a>
                                        <a class="block text-gray-200 hover:text-gray-100 hover:underline"
                                            href="https://store.cherryaudio.com/bundles">Bundles</a>

                                        <a class="block text-gray-200 hover:text-gray-100 hover:underline"
                                            href="https://store.cherryaudio.com/modules">Modules</a>

                                        <a class="block text-gray-200 hover:text-gray-100 hover:underline"
                                            href="https://store.cherryaudio.com/presets">Presets</a>

                                        <a class="block text-gray-200 hover:text-gray-100 hover:underline"
                                            href="https://store.cherryaudio.com/instruments">Instruments</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <a href="https://forums.cherryaudio.com" target="_blank"
                            class="w-full px-4 py-2 ml-2 font-medium leading-5 text-gray-200 transition duration-150 ease-in-out bg-transparent rounded-md hover:bg-gray-800 focus:outline-none focus:shadow-outline-blue focus:bg-gray-700 active:bg-gray-700">
                            Forums
                        </a>

                        <a href="https://cherryaudio.com/resources/press"
                            class="w-full px-4 py-2 ml-2 font-medium leading-5 text-gray-200 transition duration-150 ease-in-out bg-transparent rounded-md hover:bg-gray-800 focus:outline-none focus:shadow-outline-blue focus:bg-gray-700 active:bg-gray-700">
                            Company
                        </a>

                        <a href="https://cherryaudio.kayako.com" target="_blank"
                            class="w-full px-4 py-2 ml-2 font-medium leading-5 text-gray-200 transition duration-150 ease-in-out bg-transparent rounded-md hover:bg-gray-800 focus:outline-none focus:shadow-outline-blue focus:bg-gray-700 active:bg-gray-700">
                            Support
                        </a>
                    </div>
                    <div class="hidden md:ml-6 md:block">
                        <a href="https://store.cherryaudio.com/login"
                            class="w-full px-4 py-2 ml-2 font-medium leading-5 text-gray-200 transition duration-150 ease-in-out bg-transparent rounded-md hover:bg-gray-800 focus:outline-none focus:shadow-outline-blue focus:bg-gray-700 active:bg-gray-700">
                            Sign In
                        </a>
                        <a href="https://store.cherryaudio.com/register"
                            class="w-full px-4 py-2 ml-2 font-medium leading-5 text-gray-200 transition duration-150 ease-in-out bg-transparent rounded-md hover:bg-gray-800 focus:outline-none focus:shadow-outline-blue focus:bg-gray-700 active:bg-gray-700">
                            Register
                        </a>
                    </div>

                    <div class="flex -mr-2 md:hidden">
                        <button x-on:click="collapsed = !collapsed"
                            class="inline-flex items-center justify-center p-2 text-gray-400 transition duration-150 ease-in-out rounded-md hover:text-white hover:bg-gray-700 focus:outline-none focus:bg-gray-700 focus:text-white">
                            <svg class="w-6 h-6" stroke="currentColor" fill="none" viewBox="0 0 24 24">
                                <path :class="{'hidden': !collapsed, 'inline-flex': collapsed }" class="inline-flex"
                                    stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16">
                                </path>
                                <path :class="{'hidden': collapsed, 'inline-flex': !collapsed }" class="hidden"
                                    stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12">
                                </path>
                            </svg>
                        </button>
                    </div>
                </div>
            </div>

            <div :class="{'block': !collapsed, 'hidden': collapsed}" class="hidden md:hidden">
                <div class="px-2 pt-2 pb-3">
                    <div x-data="{ open: false }">
                        <button x-on:click="open = !open" type="button"
                            :class="{'open rounded-b-none border-b border-gray-500': open, 'closed': !open }"
                            class="text-gray-200 nav-collapse closed">
                            Products
                            {{ partial:nav/open-closed }}
                        </button>
                        <div x-show="open" x-transition:enter="transition ease-out duration-100"
                            x-transition:enter-start="transform opacity-0 scale-95"
                            x-transition:enter-end="transform opacity-100 scale-100"
                            x-transition:leave="transition ease-in duration-75"
                            x-transition:leave-start="transform opacity-100 scale-100" class="px-3 py-2 bg-gray-700 rounded-b">
                            <a href="https://cherryaudio.com/voltage-modular"><img src="https://cherryaudio.com/assets/voltage-modular/voltage-outline-correct-color.png" alt="Voltage Modular" class="w-2/3 p-4 mx-auto mb-2"></a>
                            <a href="https://cherryaudio.com/voltage-module-designer"><img src="https://cherryaudio.com/assets/module-designer/module-designer-correct-colors.png" alt="Voltage Module Designer" class="w-2/3 p-4 mx-auto mb-2"></a>
                            <a href="https://cherryaudio.com/instruments/dco-106"><img src="https://cherryaudio.com/assets/dco-106/dco-106-logo-white.png" alt="DCO-106" class="w-2/3 p-4 mx-auto mb-2"></a>
                            <a href="https://cherryaudio.com/instruments/ca2600"><img src="https://cherryaudio.com/assets/ca2600/ca2600_logo.png" alt="CA2600" class="w-2/3 p-4 mx-auto mb-2"></a>
                            <a href="https://cherryaudio.com/instruments/surrealistic-mg-1-plus"><img src="https://cherryaudio.com/assets/instruments/mg-1-plus/mg-1-plus-white-stacked.png" alt="Surrealistic MG-1 Plus" class="w-2/3 p-4 mx-auto mb-2"></a>
                        </div>
                    </div>

                    <div x-data="{ open: false }" @keydown.window.escape="open = false" x-on:click.away="open = false">
                        <button x-on:click="open = !open" type="button"
                            :class="{'open rounded-b-none border-b border-gray-500': open, 'closed': !open }"
                            class="text-gray-200 nav-collapse closed">
                            Store
                            {{ partial:nav/open-closed }}
                        </button>
                        <div x-show="open" x-transition:enter="transition ease-out duration-100"
                            x-transition:enter-start="transform opacity-0 scale-95"
                            x-transition:enter-end="transform opacity-100 scale-100"
                            x-transition:leave="transition ease-in duration-75"
                            x-transition:leave-start="transform opacity-100 scale-100" class="px-3 py-2 bg-gray-700 rounded-b">
                            <a class="block py-1 text-gray-200 hover:text-gray-100 hover:underline"
                                href="https://store.cherryaudio.com/login">Login</a>

                            <a class="block py-1 text-gray-200 hover:text-gray-100 hover:underline"
                                href="https://store.cherryaudio.com/register">Register</a>

                            <a class="block py-1 text-gray-200 hover:text-gray-100 hover:underline"
                                href="https://store.cherryaudio.com/redeem">Redeem Code</a>

                            <a class="block py-1 text-gray-200 hover:text-gray-100 hover:underline" target="_blank"
                                href="https://cottonbureau.com/people/cherry-audio-1">Merch</a>

                            <a class="block py-1 text-gray-200 hover:text-gray-100 hover:underline"
                                href="https://store.cherryaudio.com/bundles">Bundles</a>

                            <a class="block py-1 text-gray-200 hover:text-gray-100 hover:underline"
                                href="https://store.cherryaudio.com/modules">Modules</a>

                            <a class="block py-1 text-gray-200 hover:text-gray-100 hover:underline"
                                href="https://store.cherryaudio.com/presets">Presets</a>

                            <a class="block py-1 text-gray-200 hover:text-gray-100 hover:underline"
                                href="https://store.cherryaudio.com/software">Software</a>

                            <a class="block py-1 text-gray-200 hover:text-gray-100 hover:underline"
                                href="https://store.cherryaudio.com/instruments">Instruments</a>
                        </div>
                    </div>

                    <a href="https://forums.cherryaudio.com"
                        class="block px-3 py-2 mt-1 text-base font-medium text-gray-200 transition duration-150 ease-in-out rounded-md hover:text-white hover:bg-gray-700 focus:outline-none focus:text-white focus:bg-gray-700">Forums</a>
                    <a href="https://cherryaudio.com/resources/press"
                        class="block px-3 py-2 mt-1 text-base font-medium text-gray-200 transition duration-150 ease-in-out rounded-md hover:text-white hover:bg-gray-700 focus:outline-none focus:text-white focus:bg-gray-700">Company</a>
                    <a href="https://cherryaudio.kayako.com/"
                        class="block px-3 py-2 mt-1 text-base font-medium text-gray-200 transition duration-150 ease-in-out rounded-md hover:text-white hover:bg-gray-700 focus:outline-none focus:text-white focus:bg-gray-700">Support</a>
                    <a href="https://store.cherryaudio.com/login"
                        class="block px-3 py-2 mt-1 text-base font-medium text-gray-200 transition duration-150 ease-in-out rounded-md hover:text-white hover:bg-gray-700 focus:outline-none focus:text-white focus:bg-gray-700">Login</a>
                    <a href="https://store.cherryaudio.com/register"
                        class="block px-3 py-2 mt-1 text-base font-medium text-gray-200 transition duration-150 ease-in-out rounded-md hover:text-white hover:bg-gray-700 focus:outline-none focus:text-white focus:bg-gray-700">Register</a>
                </div>
            </div>
        </nav>
        <div x-cloak x-description="'Products' flyout menu, show/hide based on flyout menu state."
            x-show="productsMenuOpen"
            x-transition:enter="transition ease-out duration-200"
            x-transition:enter-start="opacity-0 -translate-y-1"
            x-transition:enter-end="opacity-100 translate-y-0"
            x-transition:leave="transition ease-in duration-150"
            x-transition:leave-start="opacity-100 translate-y-0"
            x-transition:leave-end="opacity-0 -translate-y-1"
            class="absolute inset-x-0 hidden transform shadow-lg z-100 md:block"
        >
            <div x-cloak class="bg-gray-700">
                <div class="grid px-4 py-6 mx-auto max-w-7xl gap-y-6 sm:grid-cols-2 sm:gap-8 sm:px-6 sm:py-8 lg:grid-cols-5 lg:px-8 lg:py-12 xl:py-6">
                    <a href="https://cherryaudio.com/voltage-modular" class="flex flex-col justify-between p-3 -m-3 space-y-6 transition duration-150 ease-in-out rounded-lg hover:bg-gray-800">
    <div class="flex space-x-4 md:h-full lg:flex-col lg:space-x-0 lg:space-y-4">
        <div class="flex-shrink-0">
            <img src="https://cherryaudio.com/assets/products/voltage-modular.jpg" alt="Voltage Modular" class="rounded-lg">
        </div>
        <div class="space-y-2 md:flex-1 md:flex md:flex-col md:justify-between lg:space-y-4">
            <div class="flex items-center h-16">
                <img src="https://cherryaudio.com/assets/voltage-modular/voltage-outline-correct-color.png" alt="Voltage Modular" class="w-2/3 mx-auto">
            </div>
        </div>
    </div>
</a>
                    <a href="https://cherryaudio.com/voltage-module-designer" class="flex flex-col justify-between p-3 -m-3 space-y-6 transition duration-150 ease-in-out rounded-lg hover:bg-gray-800">
    <div class="flex space-x-4 md:h-full lg:flex-col lg:space-x-0 lg:space-y-4">
        <div class="flex-shrink-0">
            <img src="https://cherryaudio.com/assets/products/voltage-module-designer.jpg" alt="Voltage Module Designer" class="rounded-lg">
        </div>
        <div class="space-y-2 md:flex-1 md:flex md:flex-col md:justify-between lg:space-y-4">
            <div class="flex items-center h-16">
                <img src="https://cherryaudio.com/assets/module-designer/module-designer-correct-colors.png" alt="Voltage Module Designer" class="w-2/3 mx-auto">
            </div>
        </div>
    </div>
</a>
                    <a href="https://cherryaudio.com/instruments/dco-106" class="flex flex-col justify-between p-3 -m-3 space-y-6 transition duration-150 ease-in-out rounded-lg hover:bg-gray-800">
                        <div class="flex space-x-4 md:h-full lg:flex-col lg:space-x-0 lg:space-y-4">
                            <div class="flex-shrink-0">
                                <img src="https://cherryaudio.com/assets/products/dco-106.jpg" alt="DCO-106" class="rounded-lg">
                            </div>
                            <div class="space-y-2 md:flex-1 md:flex md:flex-col md:justify-between lg:space-y-4">
                                <div class="flex items-center h-16">
                                    <img src="https://cherryaudio.com/assets/dco-106/dco-106-logo-white.png" alt="DCO-106" class="w-2/3 mx-auto">
                                </div>
                            </div>
                        </div>
                    </a>
                    <a href="https://cherryaudio.com/instruments/ca2600" class="flex flex-col justify-between p-3 -m-3 space-y-6 transition duration-150 ease-in-out rounded-lg hover:bg-gray-800">
                        <div class="flex space-x-4 md:h-full lg:flex-col lg:space-x-0 lg:space-y-4">
                            <div class="flex-shrink-0">
                                <img src="https://cherryaudio.com/assets/products/ca2600.jpg" alt="CA2600" class="rounded-lg">
                            </div>
                            <div class="space-y-2 md:flex-1 md:flex md:flex-col md:justify-between lg:space-y-4">
                                <div class="flex items-center h-16">
                                    <img src="https://cherryaudio.com/assets/ca2600/ca2600_logo.png" alt="CA2600" class="w-2/3 mx-auto">
                                </div>
                            </div>
                        </div>
                    </a>
                    <a href="https://cherryaudio.com/instruments/surrealistic-mg-1-plus" class="flex flex-col justify-between p-3 -m-3 space-y-6 transition duration-150 ease-in-out rounded-lg hover:bg-gray-800">
    <div class="flex space-x-4 md:h-full lg:flex-col lg:space-x-0 lg:space-y-4">
        <div class="flex-shrink-0">
            <img src="https://cherryaudio.com/assets/products/mg1-product-image.png" alt="Surrealistic MG-1 Plus" class="rounded-lg">
        </div>
        <div class="space-y-2 md:flex-1 md:flex md:flex-col md:justify-between lg:space-y-4">
            <div class="flex items-center h-16">
                <img src="https://cherryaudio.com/assets/instruments/mg-1-plus/mg-1-plus-white-stacked.png" alt="Surrealistic MG-1 Plus" class="w-2/3 mx-auto">
            </div>
        </div>
    </div>
</a>

</div>
            </div>
            <div x-cloak class="bg-gray-800">
              <div class="px-4 py-5 mx-auto space-y-6 max-w-7xl sm:flex sm:justify-end sm:space-y-0 sm:space-x-10 sm:px-6 lg:px-8">
                  <a href="https://cherryaudio.com/products" class="flex items-center p-3 -m-3 space-x-3 text-base font-medium leading-6 text-gray-200 transition duration-150 ease-in-out rounded-md hover:bg-gray-700">
                    <span>View All Products</span>
                    <svg class="flex-shrink-0 w-6 h-6 text-gray-400" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M14.752 11.168l-3.197-2.132A1 1 0 0010 9.87v4.263a1 1 0 001.555.832l3.197-2.132a1 1 0 000-1.664z" />
                      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
                    </svg>
                  </a>
              </div>
            </div>
        </div>
    </div>
    <nav class="fixed sticky hidden w-full bg-gray-600 md:block">
        <div class="mx-auto max-w-7xl sm:px-6 lg:px-8">
            <div class="border-b border-gray-700">
                <div class="flex items-center justify-between h-16 px-4 sm:px-0">
                    <div class="flex items-center">
                        <div class="hidden md:block">
                            <div class="flex items-baseline">
                                {{ nav:main_nav }}
                                {{ if children }}
                                <div class="relative ml-4" x-data="{open:false}">
                                    <div>
                                        <button
                                            class="max-w-xs flex items-center text-sm text-gray-200 rounded-md focus:outline-none px-3 py-2 hover:bg-gray-700 {{ if is_current || is_parent }} bg-gray-900 {{ /if }}"
                                            @click="open = !open" @keydown.window.escape="open = false"
                                            x-on:click.away="open = false" id="{{ title }}-menu"
                                            aria-label="{{ title }} menu" :aria-open="open" aria-haspopup="true">
                                            {{ title }}
                                            <svg viewBox="0 0 20 20" fill="currentColor" class="w-5 h-5 ml-2">
                                                <path fill-rule="evenodd"
                                                    d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                                                    clip-rule="evenodd"></path>
                                            </svg>
                                        </button>
                                    </div>
                                    <div x-show="open" x-transition:enter="transition ease-out duration-100 z-50"
                                        x-transition:enter-start="transform opacity-0 scale-95"
                                        x-transition:enter-end="transform opacity-100 scale-100"
                                        x-transition:leave="transition ease-in duration-75 transform"
                                        x-transition:leave-start="transform opacity-100 scale-100"
                                        x-transition:leave-end="transform opacity-0 scale-95"
                                        class="absolute right-0 w-48 mt-2 origin-top-right rounded-md shadow-lg">
                                        <div class="py-1 bg-white rounded-md shadow-xs" role="menu"
                                            aria-orientation="vertical" aria-labelledby="{{ title }}-menu">
                                            {{ children }}
                                            <a href="{{ url }}"
                                                class="block px-4 py-2 text-sm text-gray-700 transition duration-150 ease-in-out hover:bg-gray-200"
                                                role="menuitem">{{ title }}</a>
                                            {{ /children }}
                                        </div>
                                    </div>
                                </div>
                                {{ else }}
                                {{ if is_current }}
                                <a href="{{ url }}"
                                    class="px-3 py-2 rounded-md text-sm font-medium text-white bg-gray-900 hover:bg-black focus:outline-none focus:text-white focus:bg-gray-700 {{ if !first }}ml-4{{ /if }}">
                                    {{ title }}
                                </a>
                                {{ else }}
                                <a href="{{ url }}"
                                    class="px-3 py-2 rounded-md text-sm font-medium text-gray-200 hover:text-white hover:bg-gray-700 focus:outline-none focus:text-white focus:bg-gray-850 {{ if !first }}ml-4{{ /if }}">
                                    {{ title }}
                                </a>
                                {{ /if }}
                                {{ /if }}
                                {{ /nav:main_nav }}
                            </div>
                        </div>
                    </div>
                    <div class="hidden md:block">
                        <div class="flex items-center ml-4 md:ml-6">
                            <form action="/search" method="get" class="mr-4">
                                <label for="email" class="sr-only">Search</label>
                                <div class="relative rounded-full">
                                    <div
                                        class="absolute inset-y-0 left-0 flex items-center pl-3 text-gray-400 pointer-events-none">
                                        <svg class="w-5 h-5 text-gray-400" fill="currentColor" viewBox="0 0 20 20">
                                            <path fill-rule="evenodd" clip-rule="evenodd"
                                                d="M8 4C5.79086 4 4 5.79086 4 8C4 10.2091 5.79086 12 8 12C10.2091 12 12 10.2091 12 8C12 5.79086 10.2091 4 8 4ZM2 8C2 4.68629 4.68629 2 8 2C11.3137 2 14 4.68629 14 8C14 9.29583 13.5892 10.4957 12.8907 11.4765L17.7071 16.2929C18.0976 16.6834 18.0976 17.3166 17.7071 17.7071C17.3166 18.0976 16.6834 18.0976 16.2929 17.7071L11.4765 12.8907C10.4957 13.5892 9.29583 14 8 14C4.68629 14 2 11.3137 2 8Z">
                                            </path>
                                        </svg>
                                    </div>
                                    <input id="search" name="q" value=""
                                        class="block w-full pl-10 text-gray-200 transition duration-150 ease-in-out bg-gray-700 border-gray-800 form-input hover:bg-gray-600 focus:bg-gray-600 sm:text-sm sm:leading-5">
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="flex -mr-2 md:hidden">
                        <button x-on:click="open = !open"
                            class="inline-flex items-center justify-center p-2 text-gray-400 rounded-md hover:text-white hover:bg-gray-700 focus:outline-none focus:bg-gray-700 focus:text-white">
                            <svg class="w-6 h-6" stroke="currentColor" fill="none" viewBox="0 0 24 24">
                                <path :class="{'hidden': open, 'inline-flex': !open }" class="inline-flex"
                                    stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                    d="M4 6h16M4 12h16M4 18h16"></path>
                                <path :class="{'hidden': !open, 'inline-flex': open }" class="hidden" stroke-linecap="round"
                                    stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path>
                            </svg>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</div>



<div x-data="{navHeight: 0 }" x-init="navHeight = document.getElementById('navbar').offsetHeight">
    <div :style="'height: ' + navHeight + 'px'"></div>
</div>
