<footer class="relative section bg-gray-850" id="footer">
    <div class="p-8 lg:flex">
        <div class="xs:mb-4 flex-1 my-2">
            <p class="font-bold mb-2 text-white">Voltage Modular</p>
            <ul class="list-reset">
                <li class="inline-block mr-4 lg:block lg:mr-0">
                    <a href="https://cherryaudio.com/voltage-modular"
                        class="text-grey no-underline text-sm hover:underline leading-normal">About</a>
                </li>
                <li class="inline-block mr-4 lg:block lg:mr-0">
                    <a href="https://cherryaudio.com/voltage-modular/faq"
                        class="text-grey no-underline text-sm hover:underline leading-normal">FAQ</a>
                </li>
                <li class="inline-block mr-4 lg:block lg:mr-0">
                    <a href="/voltage-modular-user-guide"
                        class="text-grey no-underline text-sm hover:underline leading-normal">User Guide</a>
                </li>
                <li class="inline-block mr-4 lg:block lg:mr-0">
                    <a href="https://cherryaudio.com/voltage-modular/support"
                        class="text-grey no-underline text-sm hover:underline leading-normal">Support</a>
                </li>
                <li class="inline-block mr-4 lg:block lg:mr-0">
                    <a href="https://cherryaudio.com/voltage-modular/support/version-history"
                        class="text-grey no-underline text-sm hover:underline leading-normal">Version History</a>
                </li>
                <li class="inline-block mr-4 lg:block lg:mr-0">
                    <a href="https://cherryaudio.com/voltage-modular/support/module-comparison"
                        class="text-grey no-underline text-sm hover:underline leading-normal">Module Comparison</a>
                </li>
            </ul>
        </div>
        <div class="xs:mb-4 flex-1 my-2">
            <p class="font-bold mb-2 text-white">Voltage Module Designer</p>
            <ul class="list-reset">
                <li class="inline-block mr-4 lg:block lg:mr-0">
                    <a href="https://cherryaudio.com/voltage-module-designer"
                        class="text-grey no-underline text-sm hover:underline leading-normal">About</a>
                </li>
                <li class="inline-block mr-4 lg:block lg:mr-0">
                    <a href="https://cherryaudio.com/voltage-module-designer/faq"
                        class="text-grey no-underline text-sm hover:underline leading-normal">FAQ</a>
                </li>
                <li class="inline-block mr-4 lg:block lg:mr-0">
                    <a href="https://cherryaudio.com/voltage-module-designer/install"
                        class="text-grey no-underline text-sm hover:underline leading-normal">Installation</a>
                </li>
                <li class="inline-block mr-4 lg:block lg:mr-0">
                    <a href="https://cherryaudio.com/voltage-module-designer/support"
                        class="text-grey no-underline text-sm hover:underline leading-normal">Support</a>
                </li>
                <li class="inline-block mr-4 lg:block lg:mr-0">
                    <a href="https://cherryaudio.com/voltage-module-designer/support/version-history"
                        class="text-grey no-underline text-sm hover:underline leading-normal">Version History</a>
                </li>
            </ul>
        </div>
        <div class="xs:mb-4 flex-1 my-2">
            <p class="font-bold mb-2 text-white">Resources</p>
            <ul class="list-reset">
                <li class="inline-block mr-4 lg:block lg:mr-0">
                    <a href="https://cherryaudio.com/resources/news"
                        class="text-grey no-underline text-sm hover:underline leading-normal">News</a>
                </li>
                <li class="inline-block mr-4 lg:block lg:mr-0">
                    <a href="https://cherryaudio.com/resources/reviews"
                        class="text-grey no-underline text-sm hover:underline leading-normal">Reviews</a>
                </li>
                <li class="inline-block mr-4 lg:block lg:mr-0">
                    <a href="https://cherryaudio.com/resources/press"
                        class="text-grey no-underline text-sm hover:underline leading-normal">Press</a>
                </li>
                <li class="inline-block mr-4 lg:block lg:mr-0">
                    <a href="https://cherryaudio.com/resources/contact"
                        class="text-grey no-underline text-sm hover:underline leading-normal">Contact</a>
                </li>
                <li class="inline-block mr-4 lg:block lg:mr-0">
                    <a href="https://forums.cherryaudio.com/"
                        class="text-grey no-underline text-sm hover:underline leading-normal">Forums</a>
                </li>
                <li class="inline-block mr-4 lg:block lg:mr-0">
                    <a href="https://cherryaudio.com"
                        class="text-grey no-underline text-sm hover:underline leading-normal">Website</a>
                </li>
            </ul>
        </div>
        <div class="xs:mb-4 flex-1 my-2">
            <p class="font-bold mb-2 text-white">Store</p>
            <ul class="list-reset">
                <li class="inline-block mr-4 lg:block lg:mr-0">
                    <a href="https://store.cherryaudio.com/login"
                        class="text-grey no-underline text-sm hover:underline leading-normal">Login</a>
                </li>
                <li class="inline-block mr-4 lg:block lg:mr-0">
                    <a href="https://store.cherryaudio.com/register"
                        class="text-grey no-underline text-sm hover:underline leading-normal">Register</a>
                </li>
                <li class="inline-block mr-4 lg:block lg:mr-0">
                    <a href="https://store.cherryaudio.com/my/settings"
                        class="text-grey no-underline text-sm hover:underline leading-normal">Your Account</a>
                </li>
                <li class="inline-block mr-4 lg:block lg:mr-0">
                    <a href="https://store.cherryaudio.com/my/settings#orders"
                        class="text-grey no-underline text-sm hover:underline leading-normal">Your Orders</a>
                </li>
                <li class="inline-block mr-4 lg:block lg:mr-0">
                    <a href="https://store.cherryaudio.com/redeem"
                        class="text-grey no-underline text-sm hover:underline leading-normal">Redeem Purchase Code</a>
                </li>
            </ul>
        </div>
        <div class="xs:mb-4 flex-1 my-2">
            <p class="font-bold mb-2 text-white">Social</p>
            <ul class="list-reset">
                {{ social_media }}
                <li class="inline-block mr-4 lg:block lg:mr-0">
                    <a href="{{ url }}" target="_blank" class="text-grey no-underline text-sm leading-normal">
                        <i class="fab fa-fw fa-{{ icon }} mr-2"></i> {{ icon | ucfirst }}</a>
                </li>
                {{ /social_media }}
            </ul>
        </div>
    </div>
    <div class="px-8">
        <div class="lg:flex justify-between border-t border-grey-darkest py-8">
            <div class="mb-8 lg:mb-0 lg:w-1/3 flex items-center">
                <img src="https://cherryaudio.com/assets/cherry-audio/cherry-audio-cherry-icon-logo-black.png"
                    width="50px" alt="Cherry Audio">
                <div class="ml-6">
                    <p class="xs:hidden text-grey text-xs mt-4">&copy; {{ now format="Y" }} Cherry Audio LLC</p>
                    <ul class="list-reset text-xs mt-2">
                        <li class="inline-block mr-4">
                            <a class="text-grey no-underline hover:underline"
                                href="https://cherryaudio.com/privacy">Privacy Policy</a>
                        </li>
                        <li class="inline-block mr-4">
                            <a class="text-grey no-underline hover:underline"
                                href="mailto:support@cherryaudio.com">Webmaster</a>
                        </li>
                        <li class="inline-block mr-4">
                            <a class="text-grey no-underline hover:underline"
                                href="mailto:media@cherryaudio.com">Media</a>
                        </li>
                        <li class="inline-block mr-4">
                            <a class="text-grey no-underline text-sm hover:underline"
                                href="https://cherryaudio.com/resources/contact">Contact</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>