<div class="w-full mt-8 mb-12 overflow-y-scroll">
    <table class="table">
        {{ table }}
        {{ if first && header }}
        <thead>
            <tr>
                {{ cells }}
                <th>{{ value | markdown }}</th>
                {{ /cells }}
            </tr>
        </thead>
        <tbody>
            {{ /if }}
            {{ if !first && header || !header }}
            {{ if first }}
        <tbody>
            {{ /if }}
            <tr>
                {{ cells }}
                {{ if value === 'X' }}
                <td class="text-green-500 text-center">{{ partial src="svg/check-circle" classes="w-6 mx-auto" }}</td>
                {{ elseif value | starts_with:XX }}
                <td>{{ value | strikethrough }}</td>
                {{ else }}
                <td>{{ value | markdown }}</td>
                {{ /if }}
                {{ /cells }}
            </tr>
            {{ if last }}
        </tbody>
        {{ /if }}
        {{ /if }}
        {{ /table }}
    </table>
</div>